html,body {
	height:100%;
	margin:0;
	font-family: 'Open Sans', sans-serif;
}
input {
	font-family: 'Open Sans', sans-serif;
}
.container {
	height:100%;
	display:flex;
	flex-flow:column;
	background-color:#076895;
}



.msgContainer {
	height:100%;
	overflow-y:auto;
}
.msgContainer .date {
	font-size:12px;
	color:gray;
	margin-top:5px;
}
.msgContainer .message {
	background-color:orange;
	padding:5px;
	border-radius:5px;
	display:inline-block;
	margin:10px 10px 10px 22px;
	position:relative;
	word-break:break-all;
}
.msgContainer .message.right {
	float:right;
	background-color:cyan;
	margin:10px 22px 10px 10px;
}
.msgContainer .message.left:before {
	content:'';
	width: 0; 
	height: 0; 
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;  
	border-right:12px solid orange;
	position:absolute;
	top:25%;
	left:-12px;
}
.msgContainer .message.right:after {
	content:'';
	width: 0; 
	height: 0; 
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;  
	border-left:12px solid cyan;
	position:absolute;
	top:25%;
	right:-12px;
}



.inputFooter > form > div {
	display:flex;
}
.inputFooter input {
	box-sizing:border-box;
}
.inputFooter #comment {
	flex:1;
	background:none;
	color:white;
	border:none;
	padding:10px;
}
.inputFooter #addImoji {
	cursor:pointer;
	line-height:36px;
}
.inputFooter input[type='submit'] {
	background:none;
	color:white;
	border:none;
	cursor:pointer;
}
.inputFooter .imojiPanelContainer {
	display:none;
	position:relative;
}
.inputFooter .imojiPanelContainer.open {
	position:absolute;
	z-index:1;
	background-color:red;
	width:100%;
	bottom:0;
	display:block;
}
.inputFooter .closepanel {
	position:absolute;
	right:0;
	top:0;
	cursor:pointer;
	color:white;
	font-weight:bold;
	padding:5px;
}
.inputFooter .imojiPanel {
	width:100%;
	height:100px;
	overflow-y:auto;
}
.inputFooter .imojiPanelSkeleton {
	display:none;
}
.inputFooter .imojiPanelSkeleton.open {
	display:block;
}
.inputFooter .imojiPanelAction {
	display:none;
}
.inputFooter .imojiPanelAction.open {
	display:block;
}
.inputFooter .imojiPanelSkeleton > div, .inputFooter .imojiPanelAction > div {
	margin:10px;
	cursor:pointer;
}





/* --- */
.stickerBase {
	position:relative;
}
.stickerBase .group {
	position:absolute;
}
.stickerBase .group > div {
	position:relative;
}
.stickerBase .part {
	position:absolute;
}
/* --- */